extends ../layout

block content

  div#header
    a(href='/')
      img(id='headerImg' src='../../galvanize_logo.png')
    h1#headerText Galvanize Reads
    div#login
      a(href="/login")
        input#loginClick(type="button" value="Login")
      if currentUser
        p#welcomeText Hello #{currentUser}! Be wise in your selection...
        a(href="/logout")
          input#loginOutClick(type="button" value="Log Out")
        a(href="/books/#{currentUser}/new")
          input#createNewBook(type='button' value='Create New Book')
        a(href="/authors/#{currentUser}/new")
          input#createNewAuthor(type='button' value='Create New Author')

  a(href='/books')
    div#sidebarTop
      img(id='sidebarTopImg' src='../../books.jpg')
      h1#sidebarTopText Books

  div#authorsInfo
    h1#newTitleAuthor Fill Out the Form Below to Create a New Author
    form(action="/authors", method="post")
      div
        h3 First Name
        input(type="text" name="first_name")

      div
        h3 Last Name
        input(type="text" name="last_name")

      div
        h3 Protrait URL
        input(type="url" name="url")

      div
        h3 Biography
        input(type="text" name="bio")

      div
        h3 Books
        input(type="checkbox" name="textArea")

      div
        select
          option First Book
          option Second Book
        input(type='button' name='addBook' value='Add Book')

      div
        input(type='submit' name='addAuthor' value="Add Author")

  a(href='/authors')
    div#sidebarBottom
      img(id='sidebarBottomImg' src='../../author.jpg')
      h1#sidebarTopText Authors
